
:root{
--cor-de-fundo: #f3c46e;
--cor-de-fundo-2: #FFAD60;
--cor-de-fundo-3: #b1753c;
--cor-de-texto:#e6bd73;
--cor-de-texto-2: #8d6314;
--cor-de-texto-3: #995617;
--cor-do-cabeçalho: #884d15;
--cor-de-borda: #694522;

} 

.fascinate-regular {
  font-family: "Fascinate", system-ui;
  font-weight: 400;
  font-style: normal;
}

body{
background-color: var(--cor-de-fundo);
font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header{
    display: flex;
    padding: 5px;
    border: 2px solid var(--cor-de-borda);
    color: var(--cor-de-texto);
    background-color: var(--cor-do-cabeçalho);   
    align-items: flex-end;
    justify-content: center;
}

.apresentacao{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 5px 0;
    padding: 15px;
    border: 2px solid var(--cor-de-borda);
    background-color: var(--cor-de-fundo-2);
    color: var(--cor-de-texto-3);
}

.objetivo{
    display: flex;
    margin: 5px 0;
    padding: 40px;
    border: 2px solid var(--cor-de-borda);
    background-color: var(--cor-de-fundo-3);
    color: var(--cor-de-texto);
    justify-content: center;
}

.origem{
  background-color: var(--cor-de-fundo);
  border: 4px solid var(--cor-de-borda);
  color: var(--cor-de-texto-2);
  margin: 2px 0;
  padding: 15px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.imagem{
    width: 10%;
    margin: 2px 0;
    height: 105%;
}

.rodape{
    display: flex;
    justify-content: center;
    margin: 5px 0;
    padding: 15px;
    border: 2px solid var(--cor-de-borda);
    background-color: var(--cor-de-fundo-3);
    color: var(--cor-de-texto-2);    
}
